@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
}

.main-width {
    max-width: 1600px;
    margin: 0 auto;
}

.main-container {
    background-color: #1A0B2E;
    /* border: 1px solid red; */
}

.section-width {
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid greenyellow; */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navigation {
    color: #FFFFFF;
    font-size: 2.1rem;
}

.nav-wave {
    background: linear-gradient(to bottom, #DB07C8, #DB07C8, rgba(202, 223, 9, 0.481));
    color: transparent;
    background-clip: text;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}

.icon-nav {
    color: aliceblue;
    display: none;
}

.nav-btn {
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    background: linear-gradient(30deg, rgb(247, 251, 19), rgb(208, 4, 160), rgb(4, 31, 187));
}



/* media screen phone*/
@media screen and (max-width:576px) {
    nav {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .icon-nav {
        display: block;
        font-size: 20px;
    }
    .section-width{
        padding: 0 10px;
    }
}

/* media screen tad */

@media screen and (min-width:576px) and (max-width:992px){
      nav {
        display: none;
    }

    .nav-btn {
        display: none;
    }
    
      .icon-nav {
        display: block;
        font-size: 20px;
    }
    .section-width{
        padding: 0 20px;
    }
}